html,body{
background-image: url('bg2.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;

}
h3{ color:white;
	text-align: center;
}
.description button {
  
  border:1px solid #6ab446;
  background:#6ab446;
  border-radius: 0;
  color:#fff;
}
.description button:hover {
  border:1px solid #fff;
  background:#fff;
  color:#000;
}